<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% @ary = Array.new %>
<% @inner = Array.new %>
<% @inner << "Color Schemes" %>
<% @inner << "#7cad6c #99bf8c #0b1505" %>
<% @inner << "#7cad6c #99bf8c #376718" %>
<% @inner << "#7cad6c #99bf8c #b6d1ad" %>
<% @inner << "#7cad6c #99bf8c #b6d1ad #d3e4ce" %>
<% @inner << "#7cad6c #99bf8c #b6d1ad #376718" %>

<% @inner.each do |i| %>
	<% @k = Array.new %>
	<% @k << i %>
	<% @ary << @k %>
<% end %>

<%= render partial: 'partials/wordTree', locals: { inner: @inner, ary: @ary } %>

<!--html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages:['wordtree']});
      google.charts.setOnLoadCallback(drawChart);

			var ary = '%= @inner %>'.split("&quot;, &quot;");
			var all = [];
			for(var key in ary){
				var total = [];
				ary[key] = ary[key].replace(/&quot;/g, "");
				ary[key] = ary[key].replace(/[^\w\s]/g, "");
				total.push(ary[key]);
				all.push(total);
			}

      function drawChart() {
        var data = google.visualization.arrayToDataTable(all);

        var options = {
          wordtree: {
            format: 'implicit',
            word: 'cats'
          }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="wordtree_basic" style="width: 900px; height: 500px;"></div>
  </body>
</html-->
